#title{
    padding: 100px 50px 50px;
}

a, p, li, button{
    font-size: 20px;
    text-decoration: none;
}

#btn{
    border-radius: 16px;
}

#name{
    font-size: 55px;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("../Asset/Background-3_ba2zrk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 5000px 0 0 0 rgba(153, 102, 102, 0.5);
} 

.container-fluid{
    width: 100%;
    height: auto;
    padding-bottom: 50px;;
}


