img{
    display: flex;
    width: 100%;
    height: 10rem;
}

footer {
    position: fixed;
    bottom:0;
    width: 100%;
    font-size: 20px;
    padding: 15px;
}

a[href^="mailto:"] {
    color: black;
}

.card-body{
    background-color: #EC5E2A;
}

.card{
    width: 300px;
    padding: 0;
    margin: 0;
}

.col{
    padding: 0;
    margin: 0;

}

.row, .navbar{
     /* haut | droit | bas | gauche */
    padding: 10px 100px 10px 100px;
   
}
